* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

html {
    color: rgb(73, 73, 73);
}

/* Header */

header {
    height: 64px;
    width: 100%;
    background-color: white;
    display: flex;
    position: fixed;
    z-index: 10;
    align-items: center;
}

#logo {
    height: 32px;
    margin-left: 24px;
    display: flex;
    align-items: center;
    flex-grow: 1;
}

nav {
    display: flex;
    margin-right: 24px;
}

nav p {
    margin-left: 16px;
}

/* Banner */

.banner {
   background-color: rgb(212, 212, 212); 
   padding: 96px 0 32px 24px;
   display: flex;
   align-items: center;
   flex-wrap: wrap;
}

.banner img {
    width: 60%;
    height: auto;
    margin-right: 24px;
}

.button-box {
    width: 400px;
}

.button-box h1 {
    margin-bottom: 32px;
}

.button-box p {
    margin-bottom: 24px;
}

.button {
    color: white;
    background-color: rgb(73, 73, 73);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 0;
}

/* Info */

.info {
    padding: 32px 0 32px 24px;
    display: flex;
}

/* Info Main */

.info-main {
    height: auto;
    width: 60%;
    display: flex;
    flex-direction: column;
}

.info-main img {
    height: auto;
    width: 100%;
}

.info-main h1 {
    margin: 32px 0 24px 0;
}

.emanuel {
    margin-top: auto;
}

/* Info menu */

.info-menu {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding-left: 24px;
}

.flex-container {
    display: flex;
    width: 100%;
    border: 1px solid rgb(212, 212, 212);
}

.flex-container img {
    width: 35%;
    height: auto;
    padding: 16px;
}

.flex-container-text {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex-container-text p {
    padding-top: 8px;
}

.read-more {
    color: blue;
}

/* Start Learning */

.start-learning {
    background-color: rgb(212, 212, 212);
}

.start-learning h1 {
    padding-top: 32px;
    text-align: center;
}

.learning-container {
    display: flex;
    padding: 0 72px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.learning-container-2 {
    width: 30%;
    background-color: white;
    margin: 32px 0;
    padding-bottom: 24px;
}

.learning-container-2 img {
    width: 100%;
    height: auto;
}

.learning-container-3 {
    padding-left: 16px;
}

.learning-container-3 h2 {
    margin-top: 16px;
}

.learning-container-3 p {
    margin-top: 8px;
}